<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- <typeAliases>
		<typeAlias type="com.charmyin.cmstudio.basic.authorize.domain.Identity" alias="Identity" />
		<typeAlias type="com.charmyin.cmstudio.basic.authorize.form.RegistrationForm" alias="RegistrationForm" />
	</typeAliases> -->

	<mappers>
		<mapper resource="com/charmyin/cmstudio/basic/authorize/persistence/IdentityMapper_pgsql.xml" />
		<mapper resource="com/charmyin/cmstudio/basic/authorize/persistence/MenuMapper_pgsql.xml" />
	</mappers>
</configuration>